.banner {
 background-image: url('../imgs/imgAboutPage.jpg');
 background-size: auto;
 height: 50vh;
}

.overlay {
 background-color: rgba(0, 0, 0, 0.5);
}

.about-section {
 max-width: 800px;
 margin: 0 auto;
 padding: 20px;
 line-height: 1.6;
}

.about-section h2 {
 font-size: 2em;
 margin-bottom: 15px;
 color: #2c3e50;
 text-align: center;
}

.about-section p {
 margin-bottom: 20px;
 text-align: justify;
 color: #34495e;
}

.list-offer {
 text-align: center;
 width: 60%;
 margin: 0 auto;
 list-style: none;
}

.list-mission {
 text-align: center;
 width: 80%;
 margin: 0 auto;
 list-style: none;
}